#body #InnerBanner{
	wdith:980px;
	margin:auto;}
#body .inner{
	wdith:980px;
	margin:auto;}
#body .inner .left{
	background:url("left_bg.jpg") repeat-y right top;
	width:220px;
	float:left;}
#body .inner .right{
	width:744px;
	float:right;
	border:1px solid #DDDDDD;
	padding-bottom:50px;}
#body .inner .left .Sbox{
	width:213px;
	padding-bottom:10px;
	font-size:12px;
	}

#body .inner .left .Sbox .topic{
	background:url("nav_bg3.jpg") repeat left top;
	/*background:url("topic_bg1.gif") repeat left top;*/
	font-size:12px;
	font-family:"Microsoft Yahei";
	margin:0px 0px 0px 0px;
	line-height:34px;
	border-bottom:1px solid #DDDDDD;
	padding-left:10px;
	color:#FFFFFF;
	font-weight:bold;}
#body .inner .left .Sbox .blank ul {
	padding:0px 0px;}
#body .inner .left .Sbox .blank ul li{
	cursor:pointer;
	height:30px;
	background:url("link_bg1.gif") repeat 0px 0px;	
}
#body .inner .left .Sbox .blank .current a{
	background:#c00108;
	border-bottom:1px solid #FFFFFF;
	}	
#body .inner .left .Sbox .blank .current a{
	color:#FFFFFF;}
#body .inner .left .Sbox .blank ul li a{
	display:block;
	height:30px;
	line-height:30px;
	padding-left:30px;
	border-bottom:1px dotted #DDDDDD;
	background:url("link_bg2.gif") no-repeat 12px 10px;}	
#body .inner .left .Sbox .blank ul li a:hover{
	/*background:#c00108;*/
	background: #1a8ec6;
	border-bottom:1px solid #FFFFFF;
	color:#FFFFFF;
	text-decoration:none;}

#body .inner .left .Sbox .list dl{
	padding:0px 10px;
	}
#body .inner .left .Sbox .list dl dt{
	font-family:Arial;
	color:#666666;
	line-height:20px;
	font-size:10px;}

#body .inner .left .Sbox .list dl dd{
	line-height:30px;
	border-bottom:1px dotted #DDDDDD;
	background:url("title_icon1.jpg") no-repeat 0px 12px;
	padding-left:10px;
	}
#body .inner .left .Sbox .txt{
	padding:10px;}
	
#body .inner .right  .Position{
	font-size:12px;
	line-height:33px;
	background:url("box_bg5.jpg") repeat left top;
	}
#body .inner .right  .Position a{
	color:#666666;}
#body .inner .right  .Position span{
	padding-left:10px;
 	}


#body .inner .right .main{
	padding:10px 20px;
	font-size:12px;}

/*content*/
#body .inner .right .main .content .title h3{
	text-align:center;
	font-size:18px;
	font-weight:normal;
	font-family:"Microsoft Yahei";}
#body .inner .right .main .content .infos{
	font-size:12px;
	line-height:40px;
	color:#666666;
	text-align:center;}
#body .inner .right .main .content .maincontent{
	font-size:12px;}
#body .inner .right .main .content .maincontent p{
	padding:5px 0px;
	line-height:200%;
	}
#body .inner .right .main .content .download{
	background:url("downicon.gif") no-repeat 15px 7px;
	padding-left:55px;
	border:1px solid #F5F5F5;
	line-height:40px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	margin:10px 0px;}

#body .inner .right .main .content .prenext{
	padding:10px 0px;
	margin-top:10px;}
#body .inner .right .main .content .prenext ul li{
	line-height:30px;
	background:url("jiantou.gif") no-repeat 0px 1px;
	padding-left:15px;}				
				
#body .inner .right .main .ArticleList{
	font-size:12px;}
#body .inner .right .main .ArticleList td{
	line-height:35px;
	border-bottom:1px dashed #CCC;}	
#body .inner .right .main .ArticleList .fw_t{
	font-size:12px;
	}
#body .inner .right .main .ArticleList .fw_s{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;}

/* recruit */

#body .inner .right .main .RecruitList{
	}
#body .inner .right .main .RecruitList td{
	line-height:35px;
	border-bottom:1px dotted #CCC;
	font-size:12px;}	
#body .inner .right .main .RecruitList .Rtitle{
	background:#f5f5f5;
	color:#c00108;
	font-size:14px;
	padding-left:10px;
	height:30px;
	line-height:30px;}
#body .inner .right .main .RecruitList .Rtitle span{
	text-align:right;
	font-size:12px;}
/*product*/
#body .inner .left .Sbox .ClassNav{
	padding:0px 0px;}
	
#body .inner .left .Sbox .ClassNav .NavTree ul{
}
	
#body .inner .left .Sbox .ClassNav .NavTree ul li{
position: relative;

background:url("link_bg1.gif") repeat 0px 0px;	
}
	
/*1st level sub menu style */
#body .inner .left .Sbox .ClassNav .NavTree ul li ul{
left: 178px; /* Parent menu width - 1*/
position: positive;
width: 211px; /*sub menu width*/
top: 0;
display: none;
border:1px solid #c00108;
border-top:2px solid #c00108;
background:#FFFFFF;
filter:progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=3, Direction=135);
z-index:2000;
}
/*All subsequent sub menu levels offset */
#body .inner .left .Sbox .ClassNav .NavTree ul li ul li ul{ 
left: 159px; /* Parent menu width - 1*/
z-index:2000;}
/* menu links style */
#body .inner .left .Sbox .ClassNav .NavTree ul li a{
	display: block;
	cursor:pointer;
	line-height:30px;
	border-bottom:1px solid #DDDDDD;
	padding-left:30px;
	height:30px;
	 }	

#body .inner .left .Sbox .ClassNav .NavTree ul li li{
	background:url("box_icon1.png") no-repeat 12px 12px;
	padding-left:0;
	text-align:center;
	z-index:2000;
}
#body .inner .left .Sbox .ClassNav .NavTree ul li li a{
	border-bottom:1px solid #DDDDDD;
	padding-left:10px;
	z-index:2000;}
#body .inner .left .Sbox .ClassNav .NavTree ul .current a{
	background:#c00108;
	color:#FFFFFF;}
#body .inner .left .Sbox .ClassNav .NavTree ul .current li a{
	background:#FFFFFF;
	color:#000000;}
		
#body .inner .left .Sbox .ClassNav .NavTree ul li a:hover{
color: white;
background:#c00108;
text-decoration:none;
}
#body .inner .left .Sbox .ClassNav .NavTree .subfolderstyle{
background: url(arrow-list.gif) no-repeat 150px center ;
}
/* Holly Hack for IE \*/
* html #body .inner .left .Sbox .ClassNav .NavTree ul li { float: left; height: 1%;z-index:2000; }
* html #body .inner .left .Sbox .ClassNav .NavTree ul li a { height: 1%;z-index:2000; }
/* End */	

#body .inner .right .main .content .ProInfo .image{
	float:left;}	
	
#body .inner .right .main .content .ProInfo .column{
	float:right;
	width:400px;}
	
#body .inner .right .main .content .ProInfo .image img{
	width:270px;
	height:270px;
	}

#body .inner .right .main .content .ProInfo .image a{
	display:block;
	width:270px;
	height:270px;
	border:2px solid #F5F5F5;
	padding:2px;	
	}
#body .inner .right .main .content .ProInfo .image a:hover{
	border:2px solid #c00108;}
#body .inner .right .main .content .ProInfo .column .title{
	background-color:#f5f5f5;
	padding:0px 10px;}
#body .inner .right .main .content .ProInfo .column .title h3{
	text-align:left;
	font-size:14px;
	line-height:25px;
	font-weight:bold;}
	
#body .inner .right .main .content .ProInfo .column .infos{
	text-align:left;}
#body .inner .right .main .content .ProInfo .column ul li{
	line-height:33px;
	height:33px;
	color:#333;
	font-weight:normal;}

#body .inner .right .main .content .ProInfo .column ul li span{
	width:100px;
	height:20px;
	font-weight:bold;
	padding:3px;
	color:#333;
	}					
#body .inner .right .main .content .ProInfo .column ul .MPrice{
	color:#666666;
	text-decoration:line-through;
	}
#body .inner .right .main .content .ProInfo .column ul .NPrice{
	color:#F00;
	font-weight:bold;}
#body .inner .right .main .content .ProInfo .column ul .NPrice .BuyCount{
	color:#060;}
	
/*留言  发表留言样式*/
#body .inner .right .main  .IntroTitle{
	font-size:14px;
	line-height:25px;
	border-left:3px solid #3092b9;
	margin:10px 0px;
	padding-left:10px;
	color:#3092b9;
	font-weight:bold;
	background-color:#e5e5e5;}

#body .inner .right .main .content .MorePro{
	}

#body .inner .right .main .content .MorePro  .albumblock{
	width:190px;
	height:200px;
	float:left;}
#body .inner .right .main .content .MorePro  .albumblock .inner{
  	}

#body .inner .right .main .content .MorePro .albumblock .inner img{
 	}

#body .inner .right .main .content .MorePro  .albumblock .inner .albumtitle{
 	}
	
#body .inner .right .main .content .CaseBlock li{
	width:330px;
	float:left;
	padding-left:10px;
	}
#body .inner .right .main .content .CaseBlock .Cimg a{
	display:block;
	border:1px solid #F5F5F5;
	padding:1px;}
#body .inner .right .main .content .CaseBlock .Cimg a:hover{
	border:1px solid #c00108;}		
#body .inner .right .main .content .CaseBlock .case_ct{ height:30px; line-height:30px; color:#2586BE; background:#E5F4FC; font-weight:bold;}
#body .inner .right .main .content .CaseBlock .case_txt{ padding-left:10px;height:30px; line-height:30px;   text-align:left;font-size:12px;color:#666;}
#body .inner .right .main .content .CaseBlock .case_mc{ color:#C90;font-weight:bold;}
#body .inner .right .main .content .CaseBlock .case_mc a{color:#c90;}
#body .inner .right .main .content .CaseBlock .hycd_ct{ height:35px; line-height:35px;  color:#fff;  font-weight:bold; padding-left:40px;}
#body .inner .right .main .content .CaseBlock .hycd_ct a{ color:#fff;}
#body .inner .right .main .content .CaseBlock .hycd_ct a:hover{ color:#FFFACC}
#body .inner .right .main .content .CaseBlock .hycd_ct a:visited{ color:#fff}
#body .inner .right .main .content .CaseBlock .hycd_mc{ color:#ff6600;}
#body .inner .right .main .content .CaseBlock .ttp{ margin-top:10px; margin-bottom:10px;}	


/* sitemap */
#body .inner .right .main .SiteMap{
	padding:0px 10px;}
		
#body .inner .right .main .SiteMap ul li{
	font-weight:bold;
	line-height:25px;
	padding:10px 20px;
	border-bottom:1px dashed #CCCCCC;
	font-size:14px;
	background:url("ico4.jpg") no-repeat left 18px;}


#body .inner .right .main .SiteMap ul li ul li{
	font-weight:normal;
	border-bottom:none;
	font-size:12px;
	background:none;
	padding:5px 0px;}
					



/* FeedBack */
 .FeedBack {}
 .FeedBack .Fleft{
	width:90px;
	float:left;
	}
 .FeedBack .Fleft .Ficon{
	padding:0px  12px;
	}
 .FeedBack .Fleft .Fname{
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-top:5px;
	color:#c00108;
	font-weight:bold;}		
 .FeedBack .Fright{
	float:left;
	width:600px;
	padding-bottom:10px;
	}
 .FeedBack .Fright .Fcontent .Ftime{
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	color:#c00108;
	padding:0px 20px 5px 20px;}	
 .FeedBack .Fright .Fcontent{
	width:600px;
	background:url("PostBG.jpg") no-repeat left top;
	padding:10px 0px;
	}
 .FeedBack .Fright .Fcontent p{
	padding:0px 20px 5px 50px;}

 .FeedBack .Fright .Fcontent .Freply .FRtitle{
	margin-left:20px;
	line-height:20px;
	color:#FFFFFF;
	height:25px;
	background:url("picon.gif") no-repeat 2px 0px;
	padding-left:20px;
	font-weight:bold;}
 .FeedBack .Fright .Fcontent .Freply p{
	color:#989E4D}	
 .FeedBack .Fright .Fline{
	float:right;
	width:572px;
	border-top:1px solid #EDEDEF;
	filter:progid:DXImageTransform.Microsoft.Shadow(Color=#999999, Strength=1, Direction=180);} 

 .FeedBack .IntroTitle{
	width:665px;
	margin:auto;
	}
 .FeedBack .commentbox{
	padding-top:5px;}	
 .FeedBack .commentbox #commentform td{
	height:40px;
	font-size:12px;}
 .FeedBack .commentbox #commentform input{
	height:25px;
	line-height:25px;}
 .FeedBack .commentbox #commentform td span{
	font-weight:bold;
	color:#900;}
 .FeedBack .commentbox #commentform .Cbutton{
	line-height:25px;
	background:#3092b9;
    /*background:#c00108;*/
	border:none;
	color:#FFFFFF;
	font-size:14px;
	cursor:pointer;}
	
#body .inner .right .main .FeedBack .commentlist dt{
	padding:5px 10px;
	background-color:#dededc;
	height:22px;
	line-height:22px;
	font-size:12px;}	
#body .inner .right .main .FeedBack .commentlist dd{
	padding:15px 0px 15px 0px;
	line-height:180%;
	font-size:14px;
	}	
#body .inner .right .main .FeedBack .commentlist dd  b{
	color:#458D3A;}

#body .inner .right .main .FeedBack .commentlist dd span{
	color:#A00000;}	
#body .inner .right .main .FeedBack .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}



.clicktimes{
	display:none;}
/*img list*/
.ImageList{
	padding:10px 0px;}
.ImageList .ImageBlockBG{
	float:left;
	padding:10px 20px 20px 10px;}
.content .ImageList .ImageBlockBG{
	padding:10px 24px 20px 18px;}
.ImageList .ImageBlock{
	padding:10px;
	width:177px;
	height:153px;
	overflow:hidden;
	border:1px solid #DDDDDD;
	cursor:pointer;}
.content .ImageList .ImageBlock{
	height:153px;
	float:left;
	padding:5px;}	
.ImageList .ImageBlock:hover{
	border:1px solid #c00108;
	background-color:#F5F5F5;
}	
.ImageList .ImageBlock .ImageNote{
	padding:5px;
	line-height:25px;
	color:#FFFFFF;
	font-size:11px;}
.ImageList .ImageBlock p a{
	color:#FFFFFF;}		 
.ImageList .ImageBlock img{
	width:175px;
	height:131px;
	border:1px solid #F5F5F5;}
.ImageList .ImageBlock img:hover{
	border:1px solid #DDDDDD;}
	
.ImageList .ImageBlock p{
	text-align:center;
	bottom:0px;
	background-color:#333;
	color:#FFFFFF;
	filter:alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
	height:20px;
	line-height:20px;}
.content .ImageList .ImageBlock p{
	color:#FFFFFF;}	
.ImageList .ImageBlock a{
	text-decoration:none;}
#body .prenext .blk_29 {	 PADDING:0px 0px; OVERFLOW: hidden;  ZOOM: 1; POSITION: relative;}
	
#body .prenext .blk_29 .LeftBotton {	BACKGROUND: url(Arrow_l.jpg) no-repeat -1px 0px; LEFT: 0px; FLOAT: left; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 50px; HEIGHT: 114px}
#body .prenext .blk_29 .RightBotton {	RIGHT: 5px; BACKGROUND: url(Arrow_r.jpg) no-repeat -0px 0px; FLOAT: right;right:0px; WIDTH: 35px; CURSOR: pointer; POSITION: absolute; TOP: 50px; HEIGHT: 114px}
#body .prenext .blk_29 .Cont {	MARGIN: 0px auto; OVERFLOW: hidden;  PADDING:15px 0 0 0px;float:left;height:170px;width:621px;POSITION: relative;left:30px;}
#body .prenext .blk_29 .box {	FLOAT: left; WIDTH: 207px; TEXT-ALIGN: center;}
#body .prenext .blk_29 .box IMG {	BORDER: #ccc 1px solid; PADDING: 3px; DISPLAY: block; BACKGROUND: #fff; PADDING-BOTTOM: 3px; MARGIN: 0px auto; width:160px;height:120px;}
#body .prenext .blk_29 .box A:hover IMG {	BORDER: #3092b9 1px solid;}
#body .prenext .blk_29 .box P {	WIDTH: 207px; LINE-HEIGHT: 20px;text-align:center;font-size:12px;color:#3092b9}

/* open div*/
#popupMask {
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:9990;
	background-color:#000;
	-moz-opacity: 0.7;
	opacity:0.70;
	filter: alpha(opacity=70);
	font-size:12px;
}
#popupContainer {
	position: absolute;
	z-index: 9991;
	top: 0px;
	left: 0px;
	display:none;
	padding: 0px;
	}
#popupInner {
	border: 3px solid #c00108;
	background-color: #FFFFFF;
	}
#popupFrame {
	margin: 0px;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 9;
}
#popupTitleBar {
	background:url("box_bg1.jpg") repeat-x left top;
	color: #c00108;
	font-weight: bold;
	height: 1.3em;
	padding: 5px;
	z-index: 9992;
	text-align:center;
}
#popupTitle {
	float:left;
	font-size: 1.1em;
}
#popupControls {
	float: right;
	cursor: pointer;
	cursor: hand;
}
#popupControls a span {
	display: block;
	height: 15px;
	width: 15px;
	text-indent: -9000px;
	background: url('close.gif') no-repeat;
}

.VideoBox{
	padding:10px;}
							

									